body {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  background-color: var(--color-bg-main);
  color: var(--color-text-light);
}

.text-gradient {
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
